<div class="container">
    <div class="row" style="padding: 5%;">
        <div class="col-12 col-md-8 shadow" style="padding: 5%;">
            <h2>Hotel Above The Clouds</h2>
            <p>Desde el 2015 el hotel ha venido desarrollado un plan de remodelación y redecoración de sus espacios para que viva el encanto de un lugar clásico con toques vanguardistas.</p>
            <br>
            <p>Es el hotel ideal para eventos y reuniones de negocios gracias a sus salones con capacidad hasta 1600 personas dotado de ayudas audiovisuales y servicio especializado para el manejo de grupos de cualquier tamaño. Por otro lado, su salón VIP para huéspedes del piso ejecutivo además de sus 3 restaurantes con una gran selección de platillos nacionales e internacionales.</p>
        </div>

        <div class="col-12 col-md-4 my-5" style="padding: 2%;">
            <div class="row mt-2">
                <div class="col-6 shadow">
                    <img src="../../assets/img/platillo1.jpg" alt="platillos1" class="img-fluid">
                </div>
                <div class="col-6 shadow">
                    <img src="../../assets/img/platillo2.jpg" alt="platillos2" class="img-fluid">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6 shadow">
                    <img src="../../assets/img/platillo3.jpg" alt="platillos3" class="img-fluid">
                </div>
                <div class="col-6 shadow">
                    <img src="../../assets/img/platillo4.jpg" alt="platillos4" class="img-fluid">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6 shadow">
                    <img src="../../assets/img/platillo5.jpg" alt="platillos5" class="img-fluid">
                </div>
                <div class="col-6 shadow">
                    <img src="../../assets/img/platillo6.jpg" alt="platillos6" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>