<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <body>
        <footer class="footer">
            <div class="container bottom_border">
                <div class="row">
                    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Encuéntranos</h5>
                        <p class="mb10">Contamos con hoteles en Medellin - Bogota - San Andres.</p>
                        <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
                        <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
                        <p><i class="fa fa fa-envelope"></i> info@example.com </p>
                    </div>

                    <div class=" col-sm-4 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Enlaces rápidos</h5>
                        <ul class="footer_ul_amrc">
                            <li><a href="#">Image Rectoucing</a></li>
                            <li><a href="#">Clipping Path</a></li>
                            <li><a href="#">Hollow Man Montage</a></li>
                            <li><a href="#">Ebay & Amazon</a></li>
                            <li><a href="#">Hair Masking/Clipping</a></li>
                            <li><a href="#">Image Cropping</a></li>
                        </ul>
                    </div>

                    <div class=" col-sm-4 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Enlaces rápidos</h5>
                        <ul class="footer_ul_amrc">
                            <li><a href="#">Remove Background</a></li>
                            <li><a href="#">Shadows & Mirror Reflection</a></li>
                            <li><a href="#">Logo Design</a></li>
                            <li><a href="#">Vectorization</a></li>
                            <li><a href="#">Hair Masking/Clipping</a></li>
                            <li><a href="#">Image Cropping</a></li>
                        </ul>
                    </div>

                    <div class=" col-sm-4 col-md  col-12 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Siganos</h5>
                        <ul class="footer_ul2_amrc">
                            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Hotel San Andres <a href="#">https://www.lipsum.com/</a></p></li>
                            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Hotel Bogota <a href="#">https://www.lipsum.com/</a></p></li>
                            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Hotel Medellin <a href="#">https://www.lipsum.com/</a></p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <ul class="foote_bottom_ul_amrc">
                    <li><a href="#">Casa</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Precios</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <p class="text-center">Derechos de autor @2017 | Diseñado Por <a href="#">DAGO-MOLINA</a></p>
                <ul class="social_footer_ul">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>